.food-img{
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    transition: all .2s ease-in-out; 
}
.food-img:hover{
    transform: scale(1.1);
}
.food-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.food-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-bottom: 10px;
}
#title{
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-weight: 500;
}
#price{
    font-size: 20px;
    color: #ff5200;
    padding-top: 10px;
}