.footer{
    display: flex;
    flex-direction: column;
    background: #645f56;
    font-size: 14px;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.footer >p{
    justify-content: flex-starts;
}