.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.home-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    height: fit-content;
}
.home-welcome  > span{
    font-size: medium;
}
.home-welcome >h1{
    font-family: "Playfair Display",serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    height: fit-content;
}
.home-welcome-msg,.table-msg{
    height: fit-content;
    max-width: 70%;
    font-size: 18px;
    line-height: 28.8px;
    text-align: justify;
}
.home-explore-button{
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    background-color: #ff5200;
    color: #ffffff;
    height: 50px;
    width: 100%;
    border: 1px solid #ff5200;
    margin: 2px 0 0 0;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    border-radius: 50px;
    padding-bottom: 30px;
}
.home-social{
    display: flex;
    align-items: baseline;
    width: 1000px;
    padding-top: 100px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.home-social>span{
    padding-right: 200px;
    padding-left: 100px;
}

.home-social-icons{
    display: flex;
    padding-left: 100px;
    color: #ff5200;
    font-size: 100;
}
.menu-section{
    display: flex;
    background-color: #fee2b3;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}
.home-menu{
    display: flex;
    justify-content: center;
    color: #000000 !important;
    margin-top: 100px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-menu-category{
    display: flex;
    padding-right: 25px;
    width:25%;

}
.home-memu-category-food{
    width: 700px;
    display: flex;
    flex-direction: column;
}
.home-memu-category-food-header{
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    width: 720px;
}
#table-span,.subtitle{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .1rem;

}
#table-h3,.home-menu-category-h3{
    font-size: 35px;
    margin: 0px;
    padding: 0px;
}
.home-menu-category-h3-strong{
    color: #ff5200 !important;
    font-weight: 700;
}
.home-menu-category-food{
    padding-left: 500px;
}
ul{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    align-items: flex-start;

}
.food-icon{
    width: 25px;
    margin-right: 20px;
}
.divlink{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: flex;
    margin-bottom: 10px;
    padding: 5px 20px;
    text-align: left;
    border-radius: 30px;
    align-items: center;
    width: 200px;
    height: 50px;
}

li{
    display: flex;
    align-items: center;
}
.divlink:focus{
    background-color: white;
    color: #ff5200;
    box-shadow: 0 15px 30px 0 #ebca92;
}
.home-dessert{
    display: flex;
    flex-direction: column;
    background: rgba(245, 201, 126, 0.9);
    width: 100%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-dessert-title{
    margin-bottom: 25px;
    
}
.home-dessert-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.home-dessert-container-item{
    display: flex;
    padding: 20px;
    margin: 10px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.home-dessert-container-item:hover{
    transform: scale(1.1);
}
.item-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
    text-align: left;
}
span{
    margin-bottom: 0px;
}
h3{
    margin: 0;
    color: #000;
}
.home-table{
    display: flex;
    flex-direction: column;
    background: rgba(245, 201, 126, 0.9);
    width: 100%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.table-msg{
    text-align: center;
}